* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1400px;
    padding: 20px;
    margin: auto;
}

.description {
    max-width: 1200px;
    margin: 10px auto 30px auto;
    text-align: center;
    font-size: 16px;
    text-align: left;
}

.titleBox{
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.titleBox h1{
    text-transform: uppercase;
    font-weight: 700;
}

.textBox{
    color: black;
    font-size: 16px;
    text-indent: 40px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    margin-bottom: 10px;
}
.card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    width: 280px;
    max-width: 280px;
    word-wrap: break-word;
    white-space: normal;
    text-align: left;
    transition: transform 0.3s ease-in-out;
    border: 1px solid #ddd;
}
.card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0,0,0,0.3);
}
.card img {
    width: 100%;
    height: auto;
    max-height: 200px;
    border-radius: 8px;
}
.card h3 {
    margin: 15px 0 10px;
    font-size: 1.2em;
    color: #800000;
    text-align: left;
}
.card p {
    margin: 5px 0;
    font-size: 14px;
    text-align: left;
}
.card .price {
    font-size: 18px;
    font-weight: bold;
    color: #d32f2f;
    margin-top: 10px;
}
.card .button {
    display: inline-block;
    background-color: #800000;
    color: white;
    padding: 10px 15px;
    margin-top: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s;
}
.card .button:hover {
    background-color: #a00000;
}
.header {
    text-align: center;
    padding: 20px;
}
